body {
  margin: 0;
  background-color: rgb(175, 171, 171);
}


#links {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}







footer {
  background-color: rgb(31, 31, 31);
  color: rgba(255, 255, 255, .8);
 height: 80px;

 text-align: center;
 padding: 1px;
 
}


footer r {
  color: rgba(255, 255, 255, .4);
  
}
footer address{
  color:white;
  
}



header {
  color: white;
  background-image: url(imgweb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}



header h1 {
  font-weight: normal;
  text-align: center;
  z-index: 1;
  margin:0px;
}

header h1 a {
  font-size: 15px;
}

header h1 em {
  font-size: 50px;

  
}
a{
  font-weight: bold;
  font-size: 24px;
  background-color: black;
  color:white;
  padding:5px 15px;
  border-radius: 50px;
  text-decoration: none;
}


nav {
display: flex;
justify-content: space-around;
align-items: center;
background-color: black;
font-family:  Helvetica, sans-serif;
height: 75px;  

background-color: 
  rgba(0, 0, 0, 0.5);

position: fixed;
top: 0%;
left: 0;
right: 0;
z-index: 2;
}
a:hover{
  color:grey;
}
#links a {
 
  margin: 9px;
  
}


#main p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 125px;
  font-size: 30px;
}

#main h1 {
  font-size: 28px;
  font-weight: normal;
  color: rgba(26,26,26,.9);
  margin:0px;
  
}



section {
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  
}

#blocco{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 66.67%;
}

#profile{
  
  display: flex;
  
  flex-direction: column;
  align-items: center;
    width: 30%;
  margin-bottom: 60px;
  margin-top:-50px;
  
}
#avatar{
height:100px;
width:100px;
border-radius: 100%;
border:1px solid rgba(0,0,0,0);
}

#nome{
font-size: 0.7vw;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color:black;
}

.immagine{
height: 60%;
position:center;
width: 100%;
}


li  {
  font-size: 50px; 
  
  opacity: 0.2  ;
}

p{
  font-size: 20px;
  margin-bottom:120px;
}

@media(max-width:844px)
{
  a{
    font-weight: bold;
    font-size:19px;
    background-color: black;
    color:white;
    padding:5px 15px;
    border-radius: 50px;
    text-decoration: none;
  }

  header h1 em {
    font-size: 25px;
  
    
  } 
  #main h1 {
    font-size: 20px;
    font-weight: normal;
    color: rgba(26,26,26,.9);
    margin:0px;
    
  }
  #nome{
    font-size: 9px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    }
  
}



